<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title><%=title%></title>
    
</head>
<body>
    <header>
        <div class="logo">
            <h2>
                LessForMess
            </h2>
        </div>
        <div class="menu">
            <div class="menu-item">
                <a href="/">
                    Messages
                </a>
            </div>
            <div class="menu-item">
                <a href="/new">
                    Add Message
                </a>
            </div>
        </div>
    </header>